.container {
    background: linear-gradient(270deg, #ffffff 10%, #ffffff 100%);
    height: 98vh;
    width: 98vw;
    margin: -5vh 0vw 0vh 0vw;
    padding: 0vh 0vw 0vh 1vw; 
    overflow: hidden; 
    font-family: 'NanumSquareNeo', -apple-system, BlinkMacSystemFont, sans-serif;
  }
  
  .transparentBox {
    background: linear-gradient(135deg, #999 0%, #f2f2f2 100%);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    color: white;
    text-align: center;
  }
  
  .fullScreenBox {
    margin: 5vh 0vw 0 2vw;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    display: flex;
    padding: 0.2rem;
  }


  .title {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
    text-shadow: 0 2px 4px rgba(0.5,0,0,0.1);
  }
  
  .subtitle {
    font-size: 1rem;
    opacity: 0.9;
    margin-top: 0.5rem;
    font-weight: 300;
  }
  
  .mainContent {
    max-width: 100vw;
  }

  .panelGroup{
    max-width: 30rem;
    position: absolute;
    bottom: 5vh;  
  }
  

  .pageButton {
    width: 9rem;
    height: 3rem;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius:20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;
    font-weight: 700;
    padding: 0.6rem 1rem;
    cursor: pointer;
    /* use Sejong if available */
   font-family: 'NanumSquareNeo', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  }

  .pageButton:hover {
    background: rgba(255, 255, 255, 0.9);
    transform: translateY(-2px);
    box-shadow: 0 5px 25px rgba(72, 72, 72, 0.3);
  }

.loginInput {
    width: 90%;
    margin: 0.5rem 0 1rem 0;
    padding: 0.75rem;
    border: 1px solid #d1d5db;
    border-radius: 2rem;
    font-size: 0.875rem;
    transition: all 0.2s ease;
    font-family: 'NanumSquareNeo', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial
}